* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: black;
    /* text-transform: capitalize; */
}

a:hover {
    color: white;
}

body {
    overflow-y: scroll; /* Always show vertical scrollbar */
}
 main {
    font-size: calc(0.3rem + 1vw);
 }

/* ******************* NAV BAR ******************* */
#nav_header {
    /* Add padding to the top equal to or greater than the height of the navbar */
    height: 5vw;
    min-height: 50px;
    max-height: 80px;
}

nav {
    position: fixed; /* Make the navbar fixed in the viewport */
    top: 0; /* Align the navbar to the top of the viewport */
    width: 100%;
    overflow: hidden;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    /* opacity: 0.9; */
    padding: 10px 20px 10px 10px;
    font-size: calc(0.5rem + 1vw);
}

nav h3 {
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: right;
    width: 80%;
    padding: 0 20px 0 0;
}

/* The container <li> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
}

.dropdown:hover {
    color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: skyblue;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: calc(0.2rem + 1vw);
  padding: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: white;
    background-color: rgb(115, 202, 237);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#icons {
    cursor: pointer;
    display: none;
}

@media (max-width: 750px) {
    #icons {
        display: block;
    }
    #icons:before {
        content: "\2630"
    }
    .active #icons:before {
        content: "\2715";
    }
    nav ul {
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        background: skyblue;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .dropdown {
        font-size: calc(0.3rem + 1vw);
        padding: 5px 0;
    }
    nav li:hover {
        background-color: rgb(115, 202, 237);
    }
    nav.active ul {
        left: 0;
    }

    .check label,
    input {
        width: 80%; /* Set full width for smaller screens */
        margin-right: 0; /* Remove margin for smaller screens */
        margin-left: 0; /* Remove margin for smaller screens */
    }

    .container {
        max-width: 100%;
    }
}

/* ******************** FORMS ************************ */

.container {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;   /* Center the container horizontally */
    text-align: center; /* Center the text content horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
}

.container h2 {
    padding: 5px 10px 10px 10px;
}

.container p {
    align-self: flex-start;
    padding: 4px 10px;
}

.container a:hover {
    color: grey;
}

form {
    padding: 20px;
    width: 90%;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #45a049;
}