<header id="nav_header">
<nav class="menu">
    <div class="dropdown-icon">&#9776;</div>
    <ol>
      <li class="menu-item">
          <a href="{% url 'home' %}">Accueil</a>
      </li>
      {% if user.is_authenticated %}
      <li class="menu-item">
        Clients
        <ol class="sub-menu">
          <li class="menu-item"><a href="{% url 'new_client' %}">Nouveau client</a></li>
          <li class="menu-item"><a href="{% url 'list_client' %}">Liste clients</a></li>
        </ol>
      </li>
      <li class="menu-item">
        Rapports
        <ol class="sub-menu">
          <li class="menu-item"><a href="{% url 'new_report' %}">Nouveau rapport</a></li>
          <li class="menu-item"><a href="{% url 'list_reports' %}">Rapports commencés</a></li>
          <li class="menu-item"><a href="{% url 'list_exported' %}">Rapports exportés</a></li>
        </ol>
      </li>
      <li class="menu-item">
          <a href="{% url 'list_invoice' %}">Facture</a>
      </li>
    </ol>
    <div class="user-links">
        <a href="{% url 'profile' %}">Profil</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="#" onclick="this.parentNode.submit()">Se déconnecter</a>
        </form>
    </div>
    {% else %}
    </ol>
    <div class="user-links">
            <a href="{% url 'login' %}">Se connecter</a>
            <a href="{% url 'register' %}">Créer un compte</a>
    </div>
    {% endif %}
</nav>
</header>