<header id="nav_header">
        <nav id="nav">
            <h3><a href="#">Accueil</a></h3>
            <ul>
                <li class="dropdown">Clients
                    <ul class="dropdown-content">
                        <a href="{% url 'new_client' %}"><li>Nouveau client</li></a>
                        <a href="{% url 'list_client' %}"><li>Liste clients</li></a>
                    </ul>
                </li>
                <li class="dropdown">Rapports
                    <ul class="dropdown-content">
                        <a href="{% url 'new_report' %}"><li>Nouveau rapport</li></a>
                        <a href="{% url 'list_reports' %}"><li>Rapports commencés</li></a>
                        <a href="{% url 'list_exported' %}"><li>Rapports exportés</li></a>
                    </ul>
                </li>
            </ul>
            <div id="icons"></div>
        </nav>
</header>